/*
 * Variant CSS fragment for my personal homepage.
 * More of a display style with large margins and focus on color scheme.
 */

body {
    background-image: url(../images/night.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

* {
    vertical-align: baseline;
}



#viewport {
    padding: 1em;
    max-width: 80em;
    width: unset;

    background: linear-gradient(90deg, var(--backdrop-semi) 0px
                                     , var(--backdrop-semi) 140px
                                     , var(--backdrop) 140px);

    backdrop-filter: blur(5px);
    margin-left: calc(max(1em, 50% - 41em));
    margin-right: 1em;
}

#viewport.front {
    height: fit-content;
    margin-top: 20vh;
    max-width: 50em;
    margin-left: calc(max(1em, 50% - 25em));
}

#nav1 {
    font-size: 120%;
}

article.preview img {
    width: 200px;
    float: right;
    margin-left: 1em;
}

/* EMBEDDED NAVBAR */
#navbox {
    width: 80%;
    max-width: 1200px;
    height: 120px;
}

/* WELCOME TAGLINE */
.tagline {
    margin-top: -48px;
    margin-left: 18ch;
    text-align: left;
    width: 28ch;
    position: absolute;

    font-family: var(--font-mono);
}

#logo:hover .tagline.reveal1 {
    opacity: 0%
}
.tagline.reveal2 {
    opacity: 0%
}
#logo:hover .tagline.reveal2 {
    opacity: 100%
}

#logo {
    display: inline-block;
    height: 200px;
    width: 52ch;
    text-align: left;
    position: relative;
}
#logo img {
    height: 200px;
}

nav a {
    margin-bottom: .5em;
}

#lpartition {
    display: inline-flex;
    align-items: center;
    height: 260px;
    flex-direction: row;
}
article.project a, h3 a {
    color: var(--hi-accent);
}


/********** RESPONSIVE **********/
@media screen and (max-height: 720px) {
    #lpartition {
        margin-top: 10vh;
    }
    #logo, #logo img {
        max-height: 140px;
        height: unset;
    }
    #logo { width: 35ch; }
}

/* Reflow welcome logo */
@media screen and (max-width: 600px) {
    #termport {
        width: 90%;
        margin-top: 80px;
    }
    #lpartition {
        flex-direction: column;
    }
    nav {
        text-align: center;
        padding: 0;
        margin-top: 40px;
        max-width: 90vw;
    }

    nav a {
        display: inline-block;
        padding: 5px;
    }

    .tagline {
        margin-left: 150px;
        width: 22ch;
    }
}

/* is this really necessary??? */
@media screen and (max-width: 480px) {
    #logo, #logo img {
        max-height: 140px;
        height: unset;
        text-align: left;
    }
    #lpartition {
        height: unset;
        width: inherit;
    }
    .tagline {
        font-size: .9em;
        margin-top: -30px;
        margin-left: 110px;
        width: 20ch;
    }

    article img {
        max-width: 100%;
    }
}
